<div id="ListeAccessoires" style="display:none;">
	<br><div class=titre>Liste des accessoires</div>
	<form action="" method=POST>
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="tableConsoles" width="100%">
			<thead>
				<tr>
					<th>Accessoire</th>
					<!---'.($canAdd==1?'<th>Ajouter</th>':'').'--->
				</tr>
			</thead>
			<tbody>
				{% for accessoire in accessoires %}
					<tr class="gradeA odd">
						<td> 
							<a href="{{ path('show_accessoire', { 'id': accessoire.id }) }}">{{ accessoire.name }}</a> 
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	<br><br><a href="{{ path('create_accessoire')}}">L'accessoire que vous cherchez n'est pas dans la base de donnée ? Ajoutez le.</a>
</div>
		
		<!---$odd = false;
		foreach($jeux as $jeu)
		{
				$odd=!$odd;
				if(in_array($jeu['id_jeu'], $collection))
				{
					if($odd)
					{
						echo '<tr class="gradeC odd">';
					}
					else
					{
						echo '<tr class="gradeC even">';
					}
				}
				else
				{
					if($odd)
					{
						echo '<tr class="gradeA odd">';
					}
					else
					{
						echo '<tr class="gradeA even">';
					}
				}
				echo '<td> <a href="bddjv.php?action=view&id='.$jeu['id_jeu'].'">'.$jeu['nom_jeu'].'</a> </td>
					'.($canAdd==1?'<td class="center"><input type="checkbox" id="'.$jeu['id_jeu'].'"  name="'.$jeu['id_jeu'].'" value=1 /></td>':'').'
					</tr>';

		}
			echo ($canAdd==1?'<tr style="text-align: right"><td colspan=2><input type="submit" value="Ajouter les jeux à votre collection" name="validerAjoutPossessionJeu"></td></tr>':'').'---->